* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #363D6B;
    color: whitesmoke;
    height: 60px;
}

#name {
    font-size: 20px;
    margin-left: 8%;
}

#links {
    display: none;
    margin-right: 8%;
}

#links a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 300;
}

#menu {
    font-size: 2rem;
    margin-right: 8%;
}

#home {
    background-color: #2C2B33;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-text {
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-size: 75px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
}

.home-image {
    border: 10px solid #38324B;
    border-radius: 30px;
    width: 350px;
}