
/* Mobile S */
@media screen and (max-width: 374px) {
    .home-image {
        width: 300px;
    }

    #about {
        gap: 20px;
    }
}


/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .links-mobile {
        display: none;
    }
    
    #links {
        display: flex;
    }

    #menu {
        display: none;
    }
    
    .home-image {
        width: 450px;
    }

    .about-img {
        width: 250px;
    }

    .about-text {
        width: 75%;
    }

    .about-text h3 {
        font-size: 27px;
    }

    .about-text p {
        font-size: 18px;
    }

    .projects_container h2 {
        font-size: 55px;
        font-weight: 400;
    }

    .projects img {
        width: 330px;
    }

    .project_card {
        text-align:left;
    }

    .buttons {
        justify-content: left;
    }
}

/* Desktops and Laptops  */
@media screen and (min-width: 992px) {
    .links-mobile {
        display: none;
    }

    #links {
        display: flex;
    }

    #menu {
        display: none;
    }

    .simple_container {
        flex-direction: row;
    }

    h1 {
        font-size: 90px;
    }
    
    h2 {
        font-size: 40px;        
    }

    .home-image {
        width: 450px;
    }

    .about-img {
        width: 350px;
    }

    .about-text {
        width: 50%;
    }

    .about-text h3 {
        font-size: 50px;
    }

    .about-text p {
        font-size: 21px;
    }

    .projects_container {
        margin: 0;
    }

    .projects_container h2 {
        font-size: 55px;
        font-weight: 400;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px;
    }

    .projects img {
        width: 330px;
    }

    .project_card {
        text-align:left;
    }

    .buttons {
        justify-content: left;
    }
}