* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2C2B33;
}

.navbar {
    background-color: #363D6B;
    color: whitesmoke;
    height: 60px;
}

#name {
    font-size: 20px;
    margin-left: 7%;
    padding: 5px;
    font-weight: 200;
    font-family: "Raleway", sans-serif;
}

.links-mobile {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #363D6B;
    padding-left: 7%;
    width: 100%;
    height: 25vh;
    position: absolute;
    top: 60px;
}

.open {
    display: flex;
}

#links {
    background-color: #363D6B;
    padding: 5px;
    margin-right: 7%;

    display: none;
    justify-content: space-around;
}

#links a, .links-mobile a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 300;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
}

#links a:hover, .links-mobile a:hover{
    cursor: pointer;
    background-color: #424975;
}

#menu {
    line-height: 0;
    font-size: 2rem;
    margin-right: 7%;
    border-radius: 8px;
    padding: 5px;
    transition: 0.3s;
}

#menu:hover {
    cursor: pointer;
    background-color: #424975;
}

#home {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-text {
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-size: 75px;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.home-image {
    border: 10px solid #38324B;
    border-radius: 30px;
    width: 350px;
}

#about {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-img {
    width: 210px;
    border-radius: 50%;
    border: 10px solid #38324B;
}

.about-text {
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    width: 70%;
}